.menu {
  height: 100%;
  width: 230px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  &__item_refresh {
    width: 44px;
    background: url('../../../assets/img/refresh.png');
    background-size: contain;
  }
  &__item_language {
    width: 71px;
    background: rgba(174, 181, 185, 0.5);
  }
  &__item_temperature {
    width: 88px;
    background: rgba(174, 181, 185, 0.5);
  }
  &__section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    text-align: center;
  }
  &__section_active {
    background: rgba(76, 82, 85, 0.4);
  }
  &__section_arrow {
    height: fit-content;
    width: fit-content;
  }
}