{
  "parser": "babel-eslint",
  "extends": "airbnb-base/legacy",
  "rules": {
    "no-console": "off",
    "no-plusplus": [2, { "allowForLoopAfterthoughts": true }]
    // "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  },
  "globals": {
    "document": true,
    "window": true,
    "localStorage": true,
    "fetch": false
  },
  "env": {
    "browser": true
  }
}